@import url(http://fonts.googleapis.com/css?family=Exo+2:500);
@import url(http://fonts.googleapis.com/css?family=Arvo:400);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$banner-font: 'Exo 2';
$main-font:   'Oxygen';
$heading-font: 'Arvo';
html{
  font-family:$main-font;
}
