<footer>
  {% unless page.title == "me" %}
    <div class="me">
      <img class="avatar" src="/assets/me.jpg" alt="">
      <div class="about small-text-size">
        <p>{{ site.hello }}</p>
        <ul class="online-pages inline-list clearleft no-padding">
          <li>
            <a href="http://www.github.com/lyc4n" target="_blank" alt="Test" alt="On github">
              <img class="social-icon" src="/assets/social/github.png">
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/leecanarias" target="_blank"  alt="On twitter">
              <img class="social-icon" src="/assets/social/twitter.png">
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/110185628938156012145" target="_blank" alt="On google plus">
              <img class="social-icon" src="/assets/social/g+29.png">
            </a>
          </li>
          <li>
            <a href="http://www.facebook.com/canariasnorllll" target="_blank" alt="On facebook">
              <img class="social-icon" src="/assets/social/fb.png">
            </a>
          </li>
        </ul>
    </div>
  {% endunless %}
  <div class="clearfix"></div>
</footer>
