<footer>
  {% unless page.title == "me" %}
    <div class="me">
      <img class="avatar" src="/assets/imgs/me.jpg" alt="">
      <div class="about small-text-size">
        <p>{{ site.hello }}</p>
        <ul class="online-pages inline-list clearleft no-padding">
          <li>
            <a href="http://www.github.com/lyc4n" target="_blank" alt="Test">
              <img class="social-icon" src="/assets/imgs/social/github.png" alt="Test" href="www.google.com">
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/leecanarias" target="_blank">
              <img class="social-icon" src="/assets/imgs/social/twitter.png" alt="">
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/110185628938156012145" target="_blank">
              <img class="social-icon" src="/assets/imgs/social/g+29.png" alt="">
            </a>
          </li>
          <li>
            <a href="http://www.facebook.com/canariasnorllll" target="_blank">
              <img class="social-icon" src="/assets/imgs/social/fb.png" alt="">
            </a>
          </li>
        </ul>
    </div>
  {% endunless %}
  <div class="clearfix"></div>
</footer>
