<footer>
  {% unless page.title == "me" %}
    <div class="me">
      {% img me.jpg class:'avatar' alt:'me' %}

      <div class="about small-text-size">
        <p>{{ site.hello }}</p>
        <ul class="online-pages inline-list clearleft no-padding">
          <li>
            <a href="http://www.github.com/lyc4n" target="_blank" alt="Test" alt="On github">
              {% img social/github.png class:'social-icon' %}
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/leecanarias" target="_blank"  alt="On twitter">
              {% img social/twitter.png class:'social-icon' %}
            </a>
          </li>
          <li>
            <a href="http://www.facebook.com/canariasnorly" target="_blank" alt="On facebook">
              {% img social/fb.png class:'social-icon' %}
            </a>
          </li>
        </ul>
    </div>
  {% endunless %}
  <div class="clearfix"></div>
</footer>
