.article-view{
  padding: 60px 0px 60px 0px;
  width: 80%;
  margin: auto;

  h1.post-title{
    font-family: Arvo;
    font-weight: normal;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .meta{
    margin-bottom: 50px;
    color: gray;
  }

  article.post-content{
    font-family: Oxygen;
    font-size: 16px;
    line-height: 1.5;
  }

  .post-content{
    width: 600px;
    margin: auto;
  }
}
