
ul.cheatsheet-list{
  margin-top: 40px;
  padding: 100px 20px 40px 20px;
  background: none;
  border: none;
  position: relative;
}

.cheatsheet-list-title{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30px;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

li.cheatsheet-list-item{
  text-align: center;
}

li.cheatsheet-list-item a{
  font-weight: bolder;
}

li.cheatsheet-list-item a,
li.cheatsheet-list-item a:visited{
  color: black;
}

li.cheatsheet-list-item a:hover{
  color: red;
}

.cheatsheet-list-item-icon{
  float: left;
}


@media(min-width: $screen-normal-min) {
  ul.cheatsheet-list{
    background: linear-gradient(#eee, white);
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
  }

  li.cheatsheet-list-item{
    float: left;
    display: inline-block;
    width: 50%;
  }
}
