
body{
  position:relative;
  main{
    min-height:400px;
    padding-bottom: 120px;
  }
}

footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height:120px;
  background:black;
  color: white;

  .me{
    padding: 20px 0px 0px 20px;

    .avatar{
      border-radius: 50%;
      float: left;
    }

    .about{
      float: left;
      padding-left: 5px;
      width: 400px;
    }
  }

  img.social-icon{
    height: 19px;
    width: 19px;
    padding: 0px 5px 0px 5px;
  }
}

header.site-header{
  background: url('../imgs/banner-img.jpg') center center;
  background-size:cover;
  height:160px;
  color: #fff;

  .site-title{
    font-size: 50px;
    font-family: $banner-font;
    letter-spacing:0.2em;
    text-align:center; 
    color: black;
    text-shadow: 2px -3px 5px white;
  }
  .site-subtitle{
    font-size: 18px;
    font-weight: normal;
    letter-spacing: normal;
    color: gray;
    margin-left: -30px;
  }
}

@media(max-width: $screen-mobile-max) {
  .page-content{
    padding-bottom: 200px;
  }

  .site-title > span.site-subtitle{
    margin-left: -50px;
    position: absolute;
    top: 37px;
  }

  footer .avatar, footer .about{
    float: none !important;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

  footer ul.online-pages{
    margin: 10px 0px 10px 0px;
    text-align: center;
  }

  footer .about{
    paddgin: 0px;
    width: 80% !important;
    text-align: center;
  }
}
