.avatar{
  width: 60px;
  height: auto;
  border: 5px solid #eee;
}

section.main-section{
  text-align: center;
  font-size: 18px;
  padding: 10px 0 10px 0;
  min-height: 200px;

  .avatar{
    height: 100px;
    width: auto;
    border-radius: 50%;
  }

  ul.action-list{
    height: auto;
    width: 100%;
  }
  li.action-list-item{
    margin-left: 5px;
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 0px 26px rgba(64, 57, 57, 0.33);
    background: rgba(255, 255, 255, 0.27);
    a{
      display: block;
      height: 100%;
      width: 100%
    }
    i{
      color: black;
    }
  }

  li.action-list-item:hover{
    background: white;
  }
}

section.main-section:not(:last-child){
  border-bottom: 2px solid black;
}

section.main-section.shoutout-section{
  color: white;
  height: 450px;
  background: url(asset_path('footer_lodyas.png'));
}

section.main-section.action-list-section{
  height: 500px;
  background: url(asset_path('swirl_pattern.png'));
}

section.main-section.about-section{
  height: 300px;
  background: url(asset_path('congruent_outline.png'));
}

/*
section.main-section:nth-child(even){
  background: #eee;
}
*/
