.linklistify{
  border: 1px solid gray;
  font-size: 14px;
  padding: 10px;

  a{
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.4s;
  }

  a, a:visited{
    color:black;
  }

  a:hover{
    border-color: gray;
  }
}
