---
layout: site
---
<div class="blog box-item">
  <header class="blog-header">
    <h1 class="blog-title">{{ page.title }}</h1>
    <p class="meta small-text-size">
      <i class="fa fa-calendar-o"></i>&nbsp;<a href=''>{{ page.date | date: "%B %-d, %Y" }}</a>
      &nbsp;|&nbsp;
      <i class="fa fa-user"></i>&nbsp;<a href='/me'>Norly Canarias <span class='red'>♥</span></a>
    </p>
  </header>

  <article class="blog-content">
  {{ content }}
  </article>
  {% if page.tags.size != 0 %}
    <section class='blog-tag-section'>
      <p>Tags:</p>
      <ul class='blog-tag-list'>
        {% for tag in page.tags %}
          <li class='blog-tag-list-item'>
            <a class='blog-tag-list-item-link' target='_blank' href="/tag/{{ tag | slugify }}">{{ tag }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="clearfix"></div>
    </section>
  {% endif %}

</div>
