.cheatsheet-body{
  header.site-header{
    background: none;
    height: 70px;
    border-bottom: 3px solid #eee;
  }

  footer{
    background: linear-gradient(white, rgba(21, 18, 18, 0.37));
  }

  .me, .me b{
     color: black;
   }
}
